<ul style="display:flex;list-style: none;">
    <li style="padding: 10px"><a href="{{ url("auction_index") }}">Aukcje</a></li>
    <li style="padding: 10px"><a href="{{ url("fos_user_security_login") }}">Zaloguj się</a></li>
    <li style="padding: 10px"><a href="{{ url("fos_user_registration_register") }}">Zarejestruj sie</a></li>
</ul>